font-display4()
	font-size 112px
	font-weight lightFontWeight
	color lightBlack

font-display3()
	font-size 56px
	font-weight regularFontWeight
	color lightBlack

font-display2()
	font-size 45px
	font-weight regularFontWeight
	color lightBlack

font-display1()
	font-size 34px
	font-weight lightFontWeight
	color lightBlack

font-headline()
	font-size 24px
	font-weight regularFontWeight
	color darkBlack

font-title()
	font-size 21px
	font-weight mediumFontWeight
	color darkBlack

font-subhead()
	font-size 16px
	font-weight regularFontWeight
	color darkBlack

font-body2()
	font-size 14px
	font-weight mediumFontWeight
	color darkBlack

font-body1()
	font-size 14px
	font-weight regularFontWeight
	color darkBlack

font-caption()
	font-size 13px
	font-weight regularFontWeight
	color lightBlack

font-button()
	font-size 15px
	font-weight mediumFontWeight
	color darkBlack
